.container {
    margin: 0 auto;
    width: 1000px;
    background-color: #F4F4F4;
}

/* #region头部 */
.header img {
    width: 1000px;
    height: 79px;
}

.header .text,
.header .english {
    letter-spacing: 3px;
    font-family: "楷书";
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    background-color: #115D8A;
    color: white;
}

.header .english {
    font-size: 20px;
}

/* #endregion 头部 */


/* #region 顶部导航条 */
.headnav .container {
    background-color: rgb(173, 179, 184);
}

.headnav .container {
    height: 27px;
}

/* #endregion 顶部导航条 */
/* #region map */

.map .container img.realmap {
    width: 600px;
    height: 500px;
}

.map div.form {
    width: 400px;
    height: 400px;
    background-color: white;
}
.map form .logo{
    height: 56px;
    width: 294px;
}
.map form {
    margin-top: 40px;
    width: 300px;
    margin-left: 50px;
}

.map form .text {
    font-size: 24px;
    text-align: center;

}

.map form input {
    margin-top: 40px;
    margin-left: 35px;
    width: 200px;
    height: 18px;
    border-bottom: 1px solid blue;
}

.map form span {
    margin-left: 40px;
}

.map form select {
    margin-top: 30px;
    margin-left: 10px;
}

.map form a {
    font-size: 14px;
    font-weight: bold;
    margin-left: 100px;
}

.map form button {
    background-color: #0350A0;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    color: white;
    margin-left: 35px;
    margin-top: 10px;
}

.map .form>button {
    background-color: green;
    width: 200px;
    height: 60px;
    border-radius: 6px;
    margin: 80px 100px;
    color: white;
}

.map .form .slogin {
    width: 400px;
    height: 372px;
    display: none;
    background-color: #0350A0;
    color: white;
    text-align: center;
    font-size: 30px;
}

.map .eyes {
    display: inline-block;
    width: 30px;
    height: 30px;
}

/* #endregion map */


/* #region 内容区 */
.content .side {
    height: 0px;
    background-color: rgb(180, 174, 174);
}

.content .container {
    text-align: center;
    background-color: white;
}

.content .meituan {
    margin-top: 60px;
    width: 1000px;
}

.content .meituan .outer a {
    font-size: 20px;
    text-decoration: underline;
}

.content .meituan img.logo {
    height: 45px;
    display: inline;
    vertical-align: bottom;
}


/* 美团的文本介绍 */
.content .meituan .text {
    width: 400px;
    height: 445px;
}

.content .meituan img.picture {
    width: 600px;
    height: 400px;
}

.content .meituan .text h2 {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 35px;
}

.content .meituan .text .price {
    text-align: right;
    font-size: 30px;
    margin-right: 84px;
    line-height: 50px;
}

.content .haluo {
    width: 1000px;
    margin-top: 45px;
}

.content .haluo .outer {
    width: 600px;
    height: 460px;
}

.haluo .outer a {
    font-size: 20px;
    text-decoration: underline;
}

.content .haluo .logo {
    height: 60px;
    display: inline;
    vertical-align: bottom;
}

.content .haluo img.picture {
    width: 600px;
    height: 400px;
}

.content .haluo .text {
    width: 400px;
    height: 470px;
    text-align: center;
}

.content .haluo .text h2 {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 50px;
}

.content .haluo .text .price {
    font-size: 30px;
    line-height: 50px;
    text-align: right;
    margin-right: 81px;
}

.content .qingju {
    width: 1000px;
    height: 470px;
    margin-top: 45px;
}

.content .qingju .outer a {
    font-size: 20px;
    text-decoration: underline;
}

.content .qingju .logo {
    width: 180px;
    height: 70px;
    display: inline;
    vertical-align: bottom;
}

.content .qingju img.picture {
    width: 600px;
    height: 400px;
}

.content .qingju .text {
    width: 400px;
    height: 470px;
    font-size: 30px;
}

.content .qingju .text h2 {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bolder;
}

.content .qingju .text .price {
    text-align: right;
    margin-right: 81px;
    line-height: 50px;
}


/* #endregion  内容区*/


/* #region 结尾 */
.end .container {
    height: 300px;
    font-size: 20px;
    overflow: hidden;
}

.end .container div {
    text-align: center;
    margin: 10px auto;
}

.end .container #first {
    margin-top: 50px;
}

.end .container .address {
    margin-left: 280px;
    margin-right: 200px;
}

.end .container .contact {
    margin-left: 300px;
}

/* #endregion 结尾 */